body, html {
  margin: 0 auto;
  height: 100%;
  min-height: 100%;
  padding-bottom: 350px;
  background-image: linear-gradient(to left, #464655 0%, #464655 25%, #805D93 75%, #805D93 100%);
  background-size: cover;
  background-repeat: no-repeat;
}

/* .App { */
  /* text-align: center; */
  /* margin: 0 auto; */
  /* background-image: linear-gradient(to left, orange, orange 50%, green 50%, green);
  background-size: cover;
  background-repeat: no-repeat; */
/* } */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.visually-hidden {
  border-width: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

.container {
  text-align: center;
}

button {
  margin: 5px;
  border: 3px solid white;
  padding: 10px;
  background-color: transparent;
  color: white;
  text-transform: uppercase;
}

button:hover {
  color: #F45B69;
  border-color: #F45B69;
}

.goals-header {
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  color: white;
}

/* -----Display All------ */

ul {
  padding: 0px;
  text-align: center;
}

.goals-list {
  list-style-type: none;
  padding:0 px;
}

.goals-list-link {
  text-decoration: none;
  color: black;
}

.goals-list-link:visited {
  text-decoration: none;
  color: black;
}

.goals-list-link:hover {
  font-weight: bold;
}

.goal-list-item {
  margin: 5px auto;
  padding: 4px;
  border: 2px solid black;
  background-color: white;
  border-radius: 4px;
  width: 450px;
  
}


/* -----Display One------- */
.goal-task-list {
  list-style-type: none;
  border-radius: 7px;
  background-Color:rgba(255,255,255,0.20);

}

.display-one-box {
  margin: auto;
  border: #CDA2B2 solid 5px;
  background-Color:rgba(255,255,255,0.10);
  padding: 50px;
  height: auto;
  width: 300px;
  border-radius: 20px;
  text-align: center;
}

.display-data {
  border-radius: 7px;
  font-family: 'Poppins', sans-serif;
  background-Color:rgba(255,255,255,0.20);
}

/* -----Vision Board------- */
.visions-container {
  text-align: center;
  margin: 30px;
  height: 400px;
  min-height: auto;
  border: 5px solid #CDA2B2;
  border-radius: 15px;
  overflow: scroll;
}

.vision-board-box {
  display: inline-block;
  margin: 5px;
}

.inspo-form-header {
  margin: 0px 0px 15px 0px;
  text-align: center;
}


/* ------Forms------- */
form {
  margin: auto;
  background-Color:rgba(255,255,255,0.15);
  padding: 50px;
  height: auto;
  width: 300px;
  border-radius: 20px;
  text-align: left;
}

input, select {
  display: block;
  text-align: left;
  width: 100%;
  border: none;
  border-bottom: 2px solid black;
  background: transparent;
}

.form-set {
  margin-bottom: 10px;
}

label {
  text-transform: uppercase;
  font-size: 12px;
  color: white;
}

.error-message {
  color: red;
  font-weight: bold;
}

.nav-bar {
  background-color: #D1CCDC;
  margin: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  margin: 10px;
  font-variant: small-caps;
  font-size: 20px;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.nav-list-items {
  padding: 0px 10px 0px 10px;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.nav-links, .nav-links:after {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

.nav-links:hover {
  color: #F45B69;
}